@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
body {
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: black;
  background-image: url(/texture/space2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#canvas:focus {
  outline: none;
}
